function formatDateChinese(dateString) {
  if (!dateString) return '';
  var date = getDate(dateString);
  var year = date.getFullYear();
  var month = (date.getMonth() + 1).toString().padStart(2, '0');
  var day = date.getDate().toString().padStart(2, '0');
  var hours = date.getHours().toString().padStart(2, '0');
  var minutes = date.getMinutes().toString().padStart(2, '0');
  var seconds = date.getSeconds().toString().padStart(2, '0');
  
  return year + '年' + month + '月' + day + '日' + hours + '时' + minutes + '分' + seconds + '秒';
}

module.exports = {
  formatDateChinese: formatDateChinese
}; 